<!-- about section -->
<section class="w3l-aboutblock pt-4 pb-5">
  <div class="container pb-md-5 pb-sm-4">
    <div class="row">
      <div
        class="col-lg-6 left-wthree-img mt-lg-0 mt-5 order-lg-first order-last"
      >
        <img
          class="img-fluid img-responsive"
          src="assets/images/about.png"
          alt=" "
        />
      </div>
      <div
        class="
          col-lg-6
          about-right-faq
          align-self
          pl-lg-5
          mt-xl-4
          order-lg-last order-first
        "
      >
        <h3 class="text-bgs mb-md-3 mb-2">Since <span>2000</span></h3>
        <h3 class="title-style">
          We Have <span>30+</span> Years Industrial Experience
        </h3>
        <p class="ab-text mt-4 pt-lg-2">
          "Orem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices
          in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Non quae, fugiat".
        </p>
        <p class="mt-4">
          Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Non quae, fugiat. Lorem ipsum viverra feugiat.
          Pellen tesque libero ut justo, ultrices in ligula.
        </p>
        <img
          class="img-fluid mt-md-5 mt-4 img-dark-color"
          src="assets/images/sign.png"
          alt=" "
        />
      </div>
    </div>
  </div>
</section>
<!-- //about section -->

<!-- services section -->
<section class="w3l-bottom-grids-6 service-w3l-bg py-5" id="services">
  <div class="container py-md-5 py-4">
    <div class="title-main text-center mx-auto mb-5" style="max-width: 600px">
      <p class="mt-2 text-white">Our Services</p>
      <h3 class="title-style text-white">
        High Performance Services For Multiple <span>Industries</span>
      </h3>
    </div>
    <div class="row pt-md-4 justify-content-center">
      <div class="col-lg-4 col-md-6 grids-feature">
        <div class="area-box">
          <img class="img-fluid" src="assets/images/img1.jpg" alt=" " />
          <h4>
            <a href="#feature" class="title-head">Industrial Construction</a>
          </h4>
          <p>
            Amus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo
            non. Duis sed et dolor amet.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-sm-5 mt-4">
        <div class="area-box active">
          <img class="img-fluid" src="assets/images/img3.jpg" alt=" " />
          <h4>
            <a href="#feature" class="title-head">Mechanical Engineering</a>
          </h4>
          <p>
            Amus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo
            non. Duis sed dolor et amet.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-sm-5 mt-4">
        <div class="area-box">
          <img class="img-fluid" src="assets/images/img2.jpg" alt=" " />
          <h4>
            <a href="#feature" class="title-head">Electronic Materials</a>
          </h4>
          <p>
            Amus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo
            non. Duis sed dolor et amet.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //services section -->
